<div layout="row" >
  <div flex layout="column" >
    <div layout="row" layout-align="center center" >
      <vector-icon flex="33" name="nacional" fill="#424242"></vector-icon>
    </div>

    <md-button flex class="md-primary md-button" ng-click="reachCtrl.selectedReach('Nacional')">Nivel Nacional</md-button>
  </div>

  <div flex layout="column" >
    <div layout="row" layout-align="center center" >
      <vector-icon flex="33" name="local" fill="#424242"></vector-icon>
    </div>

    <md-button flex class="md-primary" ng-click="reachCtrl.selectedReach('Local')">Nivel Local</md-button>
  </div>

</div>
