.indigo{
  background-color: #3F51B5;
}
.electblue{
  background-color: #2196f3;
}
.blue{
  background-color: #1e88e5;
}
.bluegrey{
  background-color: #607d8b;
}
.lightgray{
  background-color: #f5f5f5;
}
.green{
  background-color: #558B2F;
}
.amarillo{
  background-color: #EF6C00;
}
.rojo{
  background-color: #f44336;
}
button.md-raised.rojobotton{
  background-color: #f44336;
  color: #ffffff;
}
button.md-raised.rojobotton > .md-ripple-container {
  background-color: #f44336;
}
.whitefont{
  color:#ffffff;
}
.padding25{
  padding: 25px;
}
.padding50{
  padding: 50px;
}
.paddingbtn{
  margin-top: 20px;
  padding: 20px;
}
.putright{
  text-align: right;
}
.ubuntu{
  font-family: 'Ubuntu', sans-serif;
}
.title{
  font-size: 50px;
}
.subtitle{
  font-size: 25px;
}
.titlesec{
  font-size: 35px;
  padding: 15px;
}
