.whitefont{
  color:#ffffff;
}
.padding15{
  padding: 15px;
}
.padding25{
  padding: 25px;
}
.padding50{
  padding: 50px;
}
.paddingbtn{
  margin-top: 10px;
  padding: 10px;
}
.putright{
  text-align: right;
}
.ubuntu{
  font-family: 'Ubuntu', sans-serif;
}
.title{
  font-size: 45px;
}
.subtitle{
  font-size: 18px;
}
.titlesec{
  font-size: 20px;
  padding: 15px;
}
.paragraphsec{
  font-size: 13px;
  padding: 10px;
}
