<md-content layout="row" layout-align="center start" md-theme="cira">
  <div flex-gt-lg="100" flex="100">
    <div layout="row"  layout-wrap>
      <!-- SECCIONES -->

      <!-- side -->
      <div flex="33" flex-sm="100" flex-md="40" class="whitefont padding25">
        <div layout="column" layout-align="start center">
          <div layout="row" layout-align="center center" layout-wrap>

            <vector-icon flex="30"  name="cira" fill="{{mainCtrl.colors.cira}}"></vector-icon><div class="titlesec">{{mainCtrl.tc.std.cira}}</div>
          </div>
          <div flex="100" flex-sm="75">
            <ol>
              <li ng-repeat="paso in appCtrl.DS.steps">{{mainCtrl.tc.app[paso.title]}}: <b>{{paso.name || mainCtrl.tc.app[paso.nameVar]}}</b> </li>
            </ol>
          </div>
          <div flex="100" flex-sm="75">
            <div ui-view="info"></div>
          </div>
          <div flex="100" flex-sm="75" ng-show="appCtrl.localResults">
            <h3>Especies presentes en tu seleccion</h3>
            <ul>
              <li ng-repeat="(k,v) in appCtrl.localResults">{{k}}: Probabilidada de presencia {{v}}%</li>
            </ul>
          </div>
          <div class="paddingbtn">
            <md-button ng-hide="appCtrl.state.is('main.application.evalType')" ng-click="appCtrl.starAgain()">{{mainCtrl.tc.app.newStart}}</md-button>
          </div>
        </div>
      </div>

      <!-- main -->
      <md-content flex-gt-sm="66" flex-sm="100" flex-md="60" class="padding25" md-theme="tool">
        <div layout="column" layout-align="center center">
          <div layout="row" layout-align="center center">
            <div flex="100" class="titlesec" ui-view="title"></div>
          </div>
          <md-content layout="row" layout-align="center center">
            <div flex="100" ui-view="description"></div>
          </md-content>
          <div style="width: 100% !important;" ui-view="content"></div>
        </div>
      </md-content>
      <!-- FIN SECCIONES -->
    </div>
  </div>
</md-content>
