<!--Barra de menú-->
<md-toolbar
  md-theme="tool"
  class="md-whiteframe-z2">
  <div class="md-toolbar-tools" layout="row" layout-align="center">
    <md-menu md-theme="other">
      <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
        <vector-icon name="translate" class="md-avatar" fill="#2196F3"></vector-icon>
      </md-button>
      <md-menu-content width="2">
        <md-menu-item>
          <md-button ng-click="mainCtrl.setLang('es')">Español</md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="mainCtrl.setLang('en')">English</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <md-button
    ng-click="mainCtrl.toggleLeft()"
    class=" md-fab md-fab-top-left"
    style="background-color: #FFC107" >

    <md-icon class="material-icons">menu</md-icon>

  </md-button>

</md-toolbar>
<!--Main content-->
<div ng-show="mainCtrl.tc" ui-view class="ubuntu"></div>
<md-progress-circular ng-hide="mainCtrl.tc" md-mode="indeterminate"></md-progress-circular>

<!-- footer -->
<md-content md-theme="footer">
  <footer layout="row">
    <div style="height: 100px"></div>
    <!--
    <md-button class="md-primary md-hue-1">Primary 1</md-button>
    <md-button class="md-primary md-hue-2">Primary 2</md-button>
    <md-button class="md-primary md-hue-3">Primary 3</md-button>
    <md-button class="md-warn md-hue-1 md-raised">Warn 1</md-button>
    <md-button class="md-warn md-hue-2 md-raised">Warn 2</md-button>
    <md-button class="md-warn md-hue-3">Warn 3</md-button>
    <md-button class="md-accent md-hue-1">Accent 1</md-button>
    <md-button class="md-accent md-hue-2">Accent 2</md-button>
    <md-button class="md-accent md-hue-3">Accent 3</md-button>-->
  </footer>
</md-content>


<!-- sidenav -->
  <sidebar-menu-app></sidebar-menu-app>
