<div flex layout="column" layout-align="start center">
  <div layout="row">
    <div layout="column" >
      <div layout="row" layout-align="center center" class="">
        <vector-icon flex="50"  name="coexistencia" fill="#424242"></vector-icon>
      </div>

      <md-button  class="" ng-click="$state.go('main.home')"><!--appCtrl.evalTypeSelected('coex')-->
        {{mainCtrl.tc.app.coex}}
      </md-button>
    </div>
    <div layout="column" >
      <div layout="row" layout-align="center center">
        <vector-icon flex="50"  name="biodiversidad" fill="#424242"></vector-icon>
      </div>
      <md-button flex class="" ng-click="appCtrl.evalTypeSelected('bio')">
        {{mainCtrl.tc.app.bio}}
      </md-button>
    </div>
  </div>
</div>
